depr_app_data.7z
todo.txt
/.VSCodeCounter
/tests/
/test_data/
/test_img/
/scripts/
/mockclasses/
/app_data/projects/mini_test_project/
/app_data/projects/test_project/
/app_data/projects/time_ml_template/
/data/mini_test_project/
/data/test_project/
/data/time_ml_template/